*{
    margin: 0;
    padding: 0;
    @import url('assets/fonts/Roboto-Bold.ttf');
    @import url('assets/fonts/Roboto-Regular.ttf');
    font-family: 'Roboto', sans-serif;

}



.screen2{
    display: none;
}

/* media query for mobile devices  */
@media only screen and (max-width: 600px) {
    footer {
        display: none;
    }
}