* {
  margin: 0;
  padding: 0;
  @import url("assets/fonts/Roboto-Bold.ttf");
  @import url("assets/fonts/Roboto-Regular.ttf");
  font-family: "Roboto", sans-serif;
}
/* Screen 1 */



/* screen 2 */
.screen2 {
  display: none;
}

/* media query for mobile devices  */
@media only screen and (max-width: 412px) {
  footer {
    display: none;
  }
}
