* {
  margin: 0;
  padding: 0;
  @import url("assets/fonts/Roboto-Bold.ttf");
  @import url("assets/fonts/Roboto-Regular.ttf");
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
/* Screen 1 */
.container {
  color: hsl(234, 29%, 20%);
  width: 100vw;
}

.screen1{
    display: flex;
    flex-direction: column;
    
}
.hero-img{
    width: 100vw;
}
.hero-img img{
    width:100vw;
    height: max-content;
}
.text{
    margin: 20px;
}

.text h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.flex-item{
    margin-top: 30px;
}

.b1,.b2,.b3{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    gap: 15px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
legend {
    font-size: small;
    font-weight: 700;
}
form {
  margin: 20px;
  
  
}
input, .btn {
    box-sizing: border-box;
    width: 90vw;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

input {
    border: 1px solid hsl(231, 7%, 60%);
    
}

.btn{
    background-color: hsl(234, 29%, 20%);
    color: white;
    border: none;
    cursor: pointer;
}
/* screen 2 */
.screen2 {
  display: none;
}

/* media query for mobile devices  */
@media only screen and (max-width: 412px) {
  footer {
    display: none;
  }
}
